my-soap-server/src/main/resources/vendRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.guide/soap/server"
           targetNamespace="http://com.guide/soap/server" elementFormDefault="qualified">

<xs:element name="vend">
  <xs:complexType>
    <xs:sequence>
      <xs:element type="xs:string" name="origMsisdn"/>
      <xs:element type="xs:string" name="destMsisdn"/>
      <xs:element type="xs:string" name="amount"/>
      <xs:element type="xs:string" name="sequence"/>
      <xs:element type="xs:string" name="tarifftypeId"/>
      <xs:element type="xs:string" name="serviceproviderId"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>