my-soap-consumer/src/main/resources/wsdl/countires.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://com.guide/soap/server" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.guide/soap/server" targetNamespace="http://com.guide/soap/server">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.guide/soap/server">
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCountryRequest"/>
            <xs:element name="getAllCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryByCurrencyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currency" type="tns:currency"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryByCurrencyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="PLN"/>
                    <xs:enumeration value="AFR"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryByCurrencyRequest">
        <wsdl:part element="tns:getCountryByCurrencyRequest" name="getCountryByCurrencyRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCountryResponse">
        <wsdl:part element="tns:getAllCountryResponse" name="getAllCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryByCurrencyResponse">
        <wsdl:part element="tns:getCountryByCurrencyResponse" name="getCountryByCurrencyResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCountryRequest">
        <wsdl:part element="tns:getAllCountryRequest" name="getAllCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryByCurrency">
            <wsdl:input message="tns:getCountryByCurrencyRequest" name="getCountryByCurrencyRequest"> </wsdl:input>
            <wsdl:output message="tns:getCountryByCurrencyResponse" name="getCountryByCurrencyResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCountry">
            <wsdl:input message="tns:getAllCountryRequest" name="getAllCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:getAllCountryResponse" name="getAllCountryResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountryByCurrency">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryByCurrencyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryByCurrencyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAllCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>